

.jumbotron {
  background-color: #fff7f7
}

.show {
  display: show;
}

.btn {
  text-align: center;
  margin-bottom: 50px;
}

p {
  text-align: center;
}

body {
  background-color: #ffd8d8;
}

h1{
  text-align: center;
  margin: 100px;
  font-size: 75px;
}
